@charset "UTF-8";
/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/
/*------------------------------------*\
    $HELPERS
    -> Extends, Functions, Mixins, Animations
\*------------------------------------*/
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * 1. Address `overflow` set to `hidden` in IE 8/9/10/11.
 * 2. Reset padding for webkit
 */
button {
  overflow: visible;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/*------------------------------------*\
    $GRID
\*------------------------------------*/
@media only screen and (min-width: 56.25em) {
  .one-whole {
    width: 100%; }

  .one-half {
    width: 50%; }

  .one-half-indent {
    margin-left: 50%; }

  .one-third {
    width: 33.333%; }

  .two-thirds {
    width: 66.666%; }

  .one-third-indent {
    margin-left: 33.333%; }

  .two-thirds-indent {
    margin-left: 66.666%; }

  .one-quarter {
    width: 25%; }

  .two-quarters {
    width: 50%; }

  .three-quarters {
    width: 75%; }

  .one-quarter-indent {
    margin-left: 25%; }

  .two-quarters-indent {
    margin-left: 50%; }

  .three-quarters-indent {
    margin-left: 75%; } }
/*------------------------------------*\
    $BASE
\*------------------------------------*/
/* Tipos */
@font-face {
  font-family: "Muli";
  src: url("../fonts/muli-webfont.woff2") format("woff2"), url("../fonts/muli-webfont.woff") format("woff"), url("../fonts/muli-webfont.ttf") format("truetype");
  /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5, Android 2.2+,  */
  font-weight: normal;
  font-style: normal;
  font-stretch: normal; }
@font-face {
  font-family: "Muli";
  src: url("../fonts/muli-semibold-webfont.woff2") format("woff2"), url("../fonts/muli-semibold-webfont.woff") format("woff"), url("../fonts/muli-semibold-webfont.ttf") format("truetype");
  /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5, Android 2.2+,  */
  font-weight: 600;
  font-style: normal;
  font-stretch: normal; }
/* Global */
* {
  box-sizing: border-box; }

::-moz-selection {
  background: #5DD0C6;
  color: #FFF; }

::selection {
  background: #5DD0C6;
  color: #FFF; }

::-moz-selection {
  background: #5DD0C6;
  color: #FFF; }

html {
  font-size: 100%; }

body {
  background: #fff;
  color: #666;
  font-family: "Muli", Arial, sans-serif;
  font-size: 100%;
  line-height: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* Content */
iframe {
  max-width: 100%; }

img {
  vertical-align: middle;
  max-width: 100%;
  height: auto; }

h1, h2, h3, h4, h5, h6 {
  font-size: 1em;
  font-weight: bold;
  color: #666;
  margin: 0; }

ul, ol, dl, dd {
  list-style: none;
  margin: 0;
  padding: 0; }

p {
  line-height: 1.3;
  margin: 0; }

a {
  color: inherit;
  text-decoration: none; }
  a:hover, a:focus {
    outline: none; }

p a {
  color: #5DD0C6; }

/*------------------------------------*\
    $LAYOUT
\*------------------------------------*/
.wrapper {
  width: 98%;
  max-width: 975px;
  margin: 0 auto; }

/*------------------------------------*\
    $GRIDS
\*------------------------------------*/
.g {
  font-size: 0; }
  .g > * {
    font-size: 16px;
    font-size: 1rem; }

@media only screen and (min-width: 56.25em) {
  .gi {
    display: inline-block;
    vertical-align: top; } }

/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/
.button, .button-primary {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  border: none;
  line-height: 1;
  cursor: pointer;
  padding: 0 30px;
  margin: 0;
  height: 43px;
  line-height: 43px;
  border-radius: 20px; }

/* Primary button */
.button {
  background: #5DD0C6;
  color: white;
  -ms-box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.22);
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.22); }
  .button:hover {
    background: #2d9a91; }

/* Secondary button */
.button-primary {
  background: #3023ae;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #3023ae 0%, #3023ae 0%, #3023ae 8%, #3023ae 57%, #c96dd8 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3023ae', endColorstr='#c96dd8',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  color: white; }
  .button-primary:hover {
    background: #5F2790;
    color: #fff; }

/*------------------------------------*\
    $ICONS
\*------------------------------------*/
.icon {
  display: inline-block;
  vertical-align: middle;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  speak: none;
  overflow: hidden;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon svg {
  display: block;
  height: 100%;
  max-width: 100%; }

.no-svg .icon svg {
  display: none !important; }
.no-svg .icon:before {
  display: inline-block; }

/*------------------------------------*\
    $HEADINGS
\*------------------------------------*/
/*------------------------------------*\
    $FORMS
\*------------------------------------*/
form {
  margin: 0; }

fieldset {
  border: none;
  margin: 0;
  padding: 0; }

button,
input,
textarea {
  -webkit-appearance: none;
  border-radius: 0; }

button[disabled],
input[disabled] {
  cursor: default; }

textarea {
  overflow: auto;
  vertical-align: top; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%; }

input[type="checkbox"],
input[type="radio"] {
  width: auto; }

/*------------------------------------*\
    $SPECIFIC FORMS
\*------------------------------------*/
/*------------------------------------*\
    $MOLECULE EXAMPLE
\*------------------------------------*/
/*------------------------------------*\
    $CALL ACTION
\*------------------------------------*/
.call-action {
  text-align: center; }
  .call-action .subtitle {
    color: #fff;
    font-size: 24px;
    font-size: 1.5rem;
    padding: 0px 0px 40px 0px;
    letter-spacing: 0.75;
    font-weight: 900;
    margin-top: -10px; }
  .call-action .logo {
    width: 350px; }
  .call-action .svg-logo-container {
    padding: 20px 0px 30px 0px;
    max-width: 500px;
    margin: 0 auto; }
  .call-action .subtitle,
  .call-action .action-box {
    margin-left: 5px; }
  @media only screen and (min-width: 56.25em) {
    .call-action {
      text-align: left; }
      .call-action .button-primary {
        margin-top: 60px; }
      .call-action .svg-logo-container {
        padding: 20px 0px 30px 0px;
        margin: 0; } }

/*------------------------------------*\
    $SVG ANIMATIONS
\*------------------------------------*/
svg path,
svg rect {
  fill: none;
  stroke: #fff;
  stroke-width: 1px; }

@keyframes offset {
  to {
    stroke-dashoffset: 0px; } }
#d,
#o,
#t,
#e,
#r,
#i,
#o2 {
  animation: offset 2.5s linear forwards, color 1s ease-in;
  stroke-dasharray: 500px;
  stroke-dashoffset: 500px; }

#d {
  stroke-dasharray: 400px;
  stroke-dashoffset: 400px; }

#o {
  stroke-dasharray: 500px;
  stroke-dashoffset: 500px; }

#t {
  stroke-dasharray: 800px;
  stroke-dashoffset: 800px; }

#e {
  stroke-dasharray: 800px;
  stroke-dashoffset: 800px; }

#r {
  stroke-dasharray: 800px;
  stroke-dashoffset: 800px; }

#i {
  stroke-dasharray: 900px;
  stroke-dashoffset: 900px; }

#o2 {
  stroke-dasharray: 1000px;
  stroke-dashoffset: 1000px; }

/*------------------------------------*\
    $FOOTER
\*------------------------------------*/
.main-footer p {
  color: #fff; }
  .main-footer p a {
    color: #fff;
    transition: color .3s ease-in; }
    .main-footer p a:hover {
      color: #873aca; }

/*------------------------------------*\
    $HEADER
\*------------------------------------*/
/*------------------------------------*\
    $INSTRUCTIONS
\*------------------------------------*/
.instructions-list {
  max-width: 500px;
  margin: 0 auto; }
  .instructions-list li {
    display: block;
    padding-bottom: 60px;
    position: relative; }
    .instructions-list li:nth-child(2) {
      padding-bottom: 40px; }
    .instructions-list li .number {
      color: #fff;
      font-size: 28px;
      font-size: 1.75rem;
      font-weight: 600;
      border: 2px solid #fff;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      line-height: 45px;
      text-align: center;
      position: absolute;
      top: 0px;
      left: 0px; }
    .instructions-list li .text {
      display: block;
      font-size: 18px;
      font-size: 1.125rem;
      padding-left: 75px;
      color: #fff; }
  @media only screen and (min-width: 56.25em) {
    .instructions-list {
      width: 320px; }
      .instructions-list li .text {
        color: #666; }
      .instructions-list li .number {
        color: #5DD0C6;
        border: 2px solid #5DD0C6;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        line-height: 54px;
        background: #fff; } }

/*------------------------------------*\
    $PAGE WRAPPER
\*------------------------------------*/
.page-wrapper {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow: auto;
  padding: 40px;
  background: #3023ae;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #3023ae 0%, #9ae09a 0%, #4ecac9 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3023ae', endColorstr='#4ecac9',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }
  .page-wrapper .instructions {
    padding-top: 60px; }
  .page-wrapper .main-footer {
    padding: 20px 0px 0px 20px; }
  .page-wrapper.full-bg {
    background: #3023ae;
    /* Old browsers */
    /* FF3.6-15 */
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #3023ae 0%, #9ae09a 0%, #4ecac9 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3023ae', endColorstr='#4ecac9',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */ }
    .page-wrapper.full-bg .action-box {
      display: block; }
    .page-wrapper.full-bg .actions {
      width: 100%;
      text-align: center;
      position: absolute;
      bottom: 30px;
      left: 50%;
      transform: translateX(-50%); }
      .page-wrapper.full-bg .actions .download {
        margin-bottom: 10px; }
  .page-wrapper .action-box {
    position: relative; }
    .page-wrapper .action-box .input-file {
      opacity: 0;
      position: absolute;
      top: 0px;
      left: 0px;
      outline: none; }
    .page-wrapper .action-box .button-primary {
      outline: none; }
  @media only screen and (min-width: 56.25em) {
    .page-wrapper {
      /* padding-top: 120px; */
      background: url("/assets/images/bg.svg");
      background-size: cover; }
      .page-wrapper:after {
        clear: both;
        content: '';
        display: table; }
      .page-wrapper .instructions {
        width: 45%;
        float: right;
        padding-top: 25px; }
      .page-wrapper .call-action {
        float: left;
        width: 55%; }
      .page-wrapper .main-footer {
        padding: 0 0 30px 80px;
        position: absolute;
        bottom: 0px;
        left: 0px; }
      .page-wrapper.full-bg .actions {
        width: 100%;
        text-align: center; }
        .page-wrapper.full-bg .actions .download {
          margin: 0 5px 0 0; }
      .page-wrapper.full-bg .download,
      .page-wrapper.full-bg .action-box {
        display: inline-block;
        vertical-align: middle; } }
  @media only screen and (min-width: 60.625em) {
    .page-wrapper {
      padding: 80px 80px 120px 80px; } }

/*------------------------------------*\
    $CONTROL WIDGET
\*------------------------------------*/
.dg {
  color: #666 !important;
  text-shadow: none !important; }
  .dg li:not(.folder) {
    background: #fff !important;
    border-bottom: 1px solid #f2f2f2 !important; }
  .dg.main .close-button {
    background: #fff !important; }
  .dg .c .slider {
    background: #d9d9d9 !important;
    border-radius: 5px; }
  .dg .c .slider-fg {
    background: #5DD0C6 !important;
    border-radius: 5px; }
  .dg .c input[type=text] {
    border: 1px solid #d9d9d9;
    background: #d9d9d9 !important;
    color: #5F2790 !important;
    border-radius: 5px;
    padding: 3px 5px !important; }
  .dg .cr.boolean {
    border-left-color: #5F2790 !important; }
    .dg .cr.boolean input[type="checkbox"] {
      -webkit-appearance: checkbox;
      -moz-appearance: checkbox;
      appearance: checkbox; }
  .dg .cr.number {
    border-left-color: #2d9a91 !important; }
